@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Caprasimo", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* header section starts */
header {
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  justify-content: space-around;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  width: 86px;
}
.logo-title {
  font-size: 3rem;
}
.special-G {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0px;
  width: 40%;
}
ul > li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.follow-us li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-us {
  height: 36px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
}
.social-media-logo {
  height: 1rem;
  width: 1rem;
  text-align: center;
  margin: 22px 2.5px;
}
.btn-logo {
  border: none;
  background-color: none;
}
/* banner starts */
.banner-information {
  background-image: url("Group 14.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* width: 901px; */
  height: 558px;
  padding-top: 148px;
  padding-left: 240px;
}

.banner-text {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  height: 11px;
}

.banner-special {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description-1 {
  display: flex;
  align-items: center;
}
.banner-description-2 {
  display: flex;
  align-items: center;
}
.banner-description-3 {
  display: flex;
  align-items: center;
}
.banner-btn {
  display: inline-flex;
  margin-left: -11px;
  padding: 24px 23px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 48px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.pink-btn {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.blue-btn {
  background: #4ec5f7;
}
.banner-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* header section ends */
/* we are gamer section starts */
.we-are-gamer-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.we-are-gamer-info {
  text-align: right;
  padding-right: 240px;
  padding-top: 95px;
}
.we-are-gamer-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}
.we-are-gamer-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.unleash {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}
/* we are gamer ends */
/* funny video starts */
.funny-video-info {
  text-align: center;
  margin-top: 60px;
}
.funny-video {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0;
}
.funny-video-description {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  position: relative;
}
.img {
  display: block;
}
.content {
  border: 2px solid red;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content:hover {
  opacity: 1;
}
.content,
.icon-img {
  color: white;
}
.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.content:hover > * {
  transform: translateY(0px);
}
.video-container {
  padding: 0px 240px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img-description {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
/* funny video section ends */
/* service section starts */
.services-container {
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 106px;
  margin: 132px;
}
.services-information {
  text-align: right;
  padding-top: 200px;
}
.large-img {
  position: relative;
  width: 634.833px;
  height: 650px;
}
.small-img {
  position: absolute;
  top: 2440px;
  right: 696px;
  width: 318.5px;
  height: 365.083px;
  border-radius: 8px;
  border: 10px solid #fff;
}
/* service section ends */
/* career section starts */
.careers-section{
  margin-top: 120px;
  display: flex;
 justify-content: space-between;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
/* .career-img{
  height: 100%;
  width: 50%;
} */
.careers-info {
  padding: 5%;
  padding-left: 10%;
}
.career-title > h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.career-title > p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.career-option {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; /* 200% */
}
button {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #fff;
  border: none;
  font-size: 20px;
  font-weight: 600;
  border: none;
  color: #ff42a5;
}
/* career section ends */
/* sponsor section starts */
.box {
  margin-right: 5px;
  margin-top: 32px;
  padding: 0 12px;
  border-radius: 50px;
  background: white;
  display: flex;
  justify-content: space-between;
}
.box:hover {
  background-color: rgba(247, 236, 236, 0.87);
  border: 2px solid pink;
  font-size: 20px;
  font-weight: 600;
  color: Linear;
}
.sponsor-container1 {
  background-color: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding-left: 10%;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  padding: 0px 15%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game-name {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}
/* sponsor sectin ends */
/* footer section starts */
footer {
  background-color: #0b0223;
  padding-bottom: 5%;
}
.footer-logo {
  align-items: center;
  display: flex;
  padding-left: 45%;
  padding-right: 40%;
}
.scpecial-amer {
  color: white;
}

.others-container {
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
.others-container > p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.social-media-container {
  padding-left: 35%;
  padding-right: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.terms-section {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-around;
  gap: 30pxpx;
}
.copyright-section {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/* footer section ends */

@media screen and (max-width: 425px) {
  header {
    display: block;
    width: 240vw;
  }
  nav {
    display: block;
    /* padding-left: 100px; */
  }
  .nav-logo {
    display: flex;
    justify-content: center;
  }
  ul {
    display: block;
    padding-left: 463px;
    gap: 10px;
  }
  .follow-us {
    width: 200px;
    height: 56px;
    margin-left: -53px;
    text-align: center;
    padding-left: 24px;
    padding-right: 0px;
    margin-top: 10px;
  }
  .btn-logo {
    padding-left: 10px;
  }
  .banner-container {
    display: block;
    width: 100vw;
  }
  .banner-information {
    width: 155vw;
    height: 597px;
    padding-top: 89px;
    padding-left: 376px;
  }
  .banner-img {
    padding-left: 170px;
    width: 164vw;
  }
  .toy-story-img {
    padding-left: 110px;
    width: 177vw;
  }
  .we-are-gamer-container {
    padding: 120px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .we-are-gamer-info {
    text-align: center;
    padding: 120px;
  }
  .purpose {
    text-align: center;
  }
  .funny-video-info {
    text-align: center;
    margin-right: -592px;
    margin-top: -163px;
  }
  .video-container {
    padding: 0px 311px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding-left: 154px;
    padding-right: 177px;
    margin: 20px;
  }
  .services-information {
    text-align: center;
    padding: 1%;
    margin: 10%;
  }
  .careers-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 250%; 
  }
  .sponsor-container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: none;
    margin-left: 40%;
    padding-left: 70%;
  }
  footer{
    width: 250%;
  }
  .footer-logo{
    padding-left: 40%;
  }
  .others-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .social-media-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .terms-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    padding-left: 35%;
  }
  .terms-section> P{
    display: flex;
    
  }
  /* .copyright-section{
    display: inline-block;
    justify-content: center;
    padding-left: 20%;
    width: 100vw;
  } */
  
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    margin-right: -119px;
    width: 136vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    padding-right: 10px;
    width: 60%;
  }
  .banner-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-information{
    width: 804px;
    padding-left: 305px;
  }
  .banner-img{
    padding-left: 10%;
  }
  .we-are-gamer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 136vw;
  }
  .we-are-gamer-info {
    text-align: center;
    padding: 120px;
  }
  .purpose {
    text-align: center;
  }
  .toy-story-img {
    width: 100vw;
  }
  .funny-video-info{
    padding-left: 240px;
  }
  .video-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20%;
  }
  .services-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-information{
    text-align: center;
    padding-top: 0px;
  }
  .small-img{
    top: 4636px;
    right: 265px;
  }
  .careers-section{
    display: block;
    grid-template-columns: repeat(1, 1fr);
    width: 132vw;
  }
  .sponsor-container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
  }
  footer{
    width: 132vw;

  }
  .footer-logo{
    padding-left: 40%;
  }
  .others-container{
    padding-left: 20%;
    padding-right: 20%;
  }
  .social-media-container{
    padding-left: 30%;
    padding-right: 30%;
  }
}
